## Setup

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('max_columns', 200)

In [3]:
with_lkm = pd.read_csv('with_lkm.csv', sep=';')
without_lkm = pd.read_csv('without_lkm.csv', sep=';')

In [4]:
with_lkm.describe()

,interval,CPU,kbmemfree,kbavail,kbmemused,kbbuffers,kbcached,kbcommit,kbactive,kbinact,kbdirty,kbanonpg,kbslab,kbkstack,kbpgtbl,kbvmused,totsck,tcpsck,udpsck,rawsck,ip-frag,tcp-tw,tcp6sck,udp6sck,raw6sck,ip6-frag,CPU.1
count,1202.0,1202.0,1202.000000,1.202000e+03,1202.00000,1202.000000,1.202000e+03,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.0,1202.0,1202.0,1202.000000,1202.000000,1202.0,1202.0,1202.0,1202.0
mean,1.0,-1.0,941212.715474,2.622102e+06,181399.24792,222896.402662,1.345672e+06,682327.540765,804803.816972,839257.740433,138.988353,92709.996672,228411.314476,3206.495840,2576.219634,13544.748752,260.002496,3.000832,6.0,0.0,0.0,0.050749,4.995008,2.0,2.0,0.0,-1.0
std,0.0,0.0,4363.535360,3.454029e+02,336.40037,483.096518,4.045454e+03,786.101282,447.038347,4047.677034,119.480369,142.863426,59.946431,24.827808,4.206772,20.773031,0.149917,0.028843,0.0,0.0,0.0,0.219576,0.099834,0.0,0.0,0.0,0.0
min,1.0,-1.0,933456.000000,2.619060e+06,180564.00000,222080.000000,1.338452e+06,680864.000000,804032.000000,832052.000000,0.000000,92648.000000,228248.000000,3152.000000,2576.000000,13516.000000,259.000000,3.000000,6.0,0.0,0.0,0.000000,3.000000,2.0,2.0,0.0,-1.0
25%,1.0,-1.0,937708.000000,2.621893e+06,181172.00000,222468.000000,1.342175e+06,682740.000000,804405.000000,835744.000000,52.000000,92648.000000,228372.000000,3184.000000,2576.000000,13516.000000,260.000000,3.000000,6.0,0.0,0.0,0.000000,5.000000,2.0,2.0,0.0,-1.0
50%,1.0,-1.0,941300.000000,2.622140e+06,181364.00000,222888.000000,1.345670e+06,682740.000000,804820.000000,839224.000000,104.000000,92756.000000,228404.000000,3200.000000,2576.000000,13548.000000,260.000000,3.000000,6.0,0.0,0.0,0.000000,5.000000,2.0,2.0,0.0,-1.0
75%,1.0,-1.0,944961.000000,2.622336e+06,181600.00000,223324.000000,1.349170e+06,682740.000000,805164.000000,842744.000000,196.000000,92756.000000,228448.000000,3232.000000,2576.000000,13564.000000,260.000000,3.000000,6.0,0.0,0.0,0.000000,5.000000,2.0,2.0,0.0,-1.0
max,1.0,-1.0,949176.000000,2.623000e+06,184440.00000,223748.000000,1.352676e+06,685980.000000,808152.000000,846268.000000,876.000000,97052.000000,228636.000000,3312.000000,2684.000000,13608.000000,265.000000,4.000000,6.0,0.0,0.0,1.000000,5.000000,2.0,2.0,0.0,-1.0

In [5]:
with_lkm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Columns: 190 entries, # hostname to flw_lim/s[...]
dtypes: int64(27), object(163)
memory usage: 1.7+ MB

In [6]:
features = ['%sys', '%memused', 'rxdrop/s']

In [8]:
without_lkm[features].replace(',','.',regex=True).astype(float).describe()

              %sys     %memused  rxdrop/s
count  1202.000000  1202.000000    1202.0
mean      9.471905     6.200366       0.0
std       0.646010     0.015308       0.0
min       1.000000     6.150000       0.0
25%       9.190000     6.190000       0.0
50%       9.490000     6.200000       0.0
75%       9.780000     6.210000       0.0
max      11.050000     6.240000       0.0

In [9]:
with_lkm[features].replace(',','.',regex=True).astype(float).describe()

              %sys     %memused  rxdrop/s
count  1202.000000  1202.000000    1202.0
mean      9.470050     6.213186       0.0
std       0.614934     0.011873       0.0
min       1.260000     6.180000       0.0
25%       9.190000     6.210000       0.0
50%       9.490000     6.210000       0.0
75%       9.760000     6.220000       0.0
max      11.020000     6.320000       0.0